/* =====================================中心块===================================== */
#main
{
	position: absolute;
	top: 100px;
	left:425px;
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 8px;
}
/* ==================主菜单================== */
#ffzrm
{
    position: absolute;
    left: 155px;
    cursor: hand;
    top: 20px;
    opacity: 0.6;
}
#mmp
{
    position: absolute;
    left: 188px;
    top: 72px;
    cursor: hand;
    opacity: 0.6;
}
#qsmx
{
    position: absolute;
    left: 176px;
    top: 128px;
    cursor: hand;
    opacity: 0.6;
}
#shysh
{
    position: absolute;
    left: 155px;
    top: 183px;
    cursor: hand;
    opacity: 0.6;
}
/* ==================主菜单的图标================== */
#ffzrmIcon
{
	position: absolute;
	top: 20px;
	left:350px;
	width: 30px;
	height: 30px;
	display: none;
}
#mmpIcon
{
	position: absolute;
	top: 76px;
	left:350px;
	width: 30px;
	height: 30px;
	display: none;
}
#qsmxIcon
{
	position: absolute;
	top: 133px;
	left:345px;
	width: 40px;
	height: 28px;
	display: none;
}
#shyshIcon
{
    position: absolute;
    top: 188px;
    left: 350px;
    width: 32px;
    height: 28px;
    display: none;
}
/* ==========分分钟入门菜单========== */
#ffzrmBg 
{
	background: url(../images/wordAndIcon/ffzrm_bg.jpg) ;
	background-size: 100%;
	width: 100%;
	height: 100%;
	display: none;
	z-index: -10;
}
#ffzrmList
{
	position: absolute;
    top: -600px;
    left: 520px;
	height: 400px;
    width: 300px;
    display: none;
    background-color: white;
    border-radius: 32px;
    opacity: 0.8;
}
#ffzrmList img
{
	cursor: hand;
}
#mf_word
{
	position: absolute;
	top: 28px;
	left: 96px;
}
#mf_icon
{
    position: absolute;
    top: 26px;
    left: 165px;
    height: 35px;
    width: 35px;
}
#gdsx_word
{
	position: absolute;
	top: 78px;
	left: 76px;
}
#gdsx_icon
{
    position: absolute;
    top: 75px;
    left: 192px;
    height: 35px;
    width: 35px;
}
#qd_word
{
    position: absolute;
    top: 123px;
    left: 100px;
}
#lc_word
{
    position: absolute;
    top: 170px;
    left: 100px;
}
#lc_icon
{
    position: absolute;
    top: 170px;
    left: 170px;
    height: 28px;
    width: 28px;
}
/* ==========慢慢品菜单========== */
#mmpBg 
{
	background: url(../images/wordAndIcon/mmp_bg.jpg) ;
	background-size: 100%;
	width: 100%;
	height: 100%;
	display: none;
	z-index: -10;
}
#mmpList
{
	position: absolute;
    top: 85px;
    left: 570px;
	height: 400px;
    width: 300px;
    display: none;
    background-color: white;
    border-radius: 32px;
    opacity: 0.8;
}
#mmpList img
{
	cursor: hand;
}
#asj_word
{
    position: absolute;
    top: 32px;
    left: 105px;
}
#cqm_word
{
    position: absolute;
    top: 76px;
    left: 105px;
}
#gdlj_word
{
    position: absolute;
    top: 123px;
    left: 93px;
}
#xwz_word
{
    position: absolute;
    top: 171px;
    left: 105px;
}
#nddlzm_word
{
    position: absolute;
    top: 218px;
    left: 65px;
}
/* ==========奇思妙想菜单========== */
#qsmxBg 
{
	background: url(../images/wordAndIcon/qsmx_bg.jpg);
	background-size: 120%;
	height: 100%;
	width: 100%;
	display: none;
	z-index: -10;
}
#qsmxList
{
	position: absolute;
    top: 85px;
    left: 570px;
	height: 400px;
    width: 300px;
    display: none;
    background-color: white;
    border-radius: 32px;
    opacity: 0.8;
}
#qsmxList img
{
	cursor: hand;
}
#yfxs_word
{
    position: absolute;
    top: 32px;
    left: 63px;
}
#yfxs_icon
{
    position: absolute;
    top: 25px;
    left: 191px;
    height: 36px;
    width: 63px;
}
#kzzcx_word
{
	position: absolute;
	top: 80px;
	left: 48px;
}
#kzzcx_icon
{
	position: absolute;
	top: 80px;
	left: 213px;
	height: 30px;
	width: 30px;
}
/* ==========生活呀生活菜单========== */
#shyshBg 
{
	background: url(../images/wordAndIcon/shysh_bg.jpg);
	background-size: 100%;
	height: 100%;
	width: 100%;
	display: none;
	z-index: -10;
}
#shyshList
{
	position: absolute;
    top: 85px;
    left: 570px;
	height: 400px;
    width: 300px;
    display: none;
    background-color: white;
    border-radius: 32px;
    opacity: 0.8;
}
#shyshList img
{
	cursor: hand;
}

#smzl_word
{
	position: absolute;
	top: 28px;
	left: 93px;
}
#qs_word
{
    position: absolute;
    top: 72px;
    left: 123px;
}
#fn_word
{
    position: absolute;
    top: 118;
    left: 123px;
}
#rhjczyjs_word
{
    position: absolute;
    top: 164;
    left: 96px;
}
#sjmf_word
{
    position: absolute;
    top: 208;
    left: 96px;
}
/* =====================================其他元素===================================== */
.bottom
{
	position:absolute;
	bottom:0px; 
	left: 10px;
	width: 1340px;
	height: 187px;
}
#funny{
	position:absolute;
	right: 5px;
	top: 2px;
	height: 40px;
	width:40px;
	border-radius: 25px;
}
#versionNumber{
	position:absolute;
	right: 8px;
	top: 42px;
}